<div class="tab-pane" id="readarticletabview">
    <!-- <div class="row" style="padding:10px" *ngFor="let item of arr; let i=index"> -->
            <div  class="row" style="padding:10px" *ngFor="let item of article[1]; let i=index">
                    <!-- <div *ngFor="let item of article"> -->


                            <img src="/assets/images/profile_img.jpg" alt="Avatar" style="  border-radius:50%;" alt="profile-picture">

                            <p>{{item.ArticleName}}</p>
                            <p>{{item.PreviewContent}}</p>

                            <span style="padding-right:20px;"><button  (click)='onReadMore(item)'>Read More</button></span>
                          <button  (click)="openEdit(item)">Edit</button>
                        </div>
          <div>{{item.Content}}</div>
    </div>



