 <div class="tab-pane" id="readarticletabview">
      <div class="row" style="padding:10px">
          <div class="col-md-12" style="padding:20px;">
              <div class="hpanel  blog-box">
                  <div class="panel-heading">
                      <div class="media clearfix">
                          <a class="pull-left">
                              <img  src="/assets/images/read_img.jpg" alt="profile-picture" class="avatar" style=" width:65px; border-radius:50%;float:left;">
                          </a>
                          <div class="media-body">
                              <small>Created By:<span class="font-bold"></span> </small>
                              <br>
                              <small class="text-muted">
                                {{arr.createdDate}}
                              </small>
                              <br>
                              <small class="text-muted"></small>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body">
                      <h3>{{arr.articleName}}</h3><!--article name-->
                      <hr>
                      <div>
                        <!--preview content--><h3>{{arr.previewContent}}</h3>
                      </div>
                      <!-- <span> IANS</span> -->
                      <span><span> Updated </span>{{arr.modifiedDate}}</span>
                    </div>
             </div>
            </div>
            <div [innerHtml]="arr.content"></div>
      </div>
  </div>
<!-- <div class="tab-pane" id="readarticletabview">

            <div  class="row" style="padding:10px" *ngFor="let item of article[1]; let i=index">

                            <img src="/assets/images/profile_img.jpg" alt="Avatar" style="  border-radius:50%;" alt="profile-picture">

                            <p>{{item.ArticleName}}</p>
                            <p>{{item.PreviewContent}}</p>

                            <span style="padding-right:20px;"><button  (click)='onReadMore(item)'>Read More</button></span>
                          <button  (click)="openEdit(item)">Edit</button>
                        </div>
          <div>{{item.Content}}</div>
    </div> -->



