// .pull-left {
//     float: left;
//     margin-top: -46px;
//     }
//     .media-body {
//     flex: 1;
//     margin-top: -40px;
//     margin-left: 7px;
//     margin-bottom: 51px;
//     }
//     .h3{
//     font-size: 24px;
//     }
//     .art{
//     margin-top: 20px;
//     margin-bottom: 20px;
//     border: 0;
//     border-top: 1px solid #eee;
//     }
//     .h3{
//     font-weight: normal;
//     }
//     h2.story-intro {
//     font-weight: 700;
//     color: #563b3b;
//     }
//     h3.title {
//     color: gray;
//     font-weight: 600;
//     font-size: 35px;
//     }
//     p.fright.shre-icon {
//     float: right;
//     }
//     img.mcimg {
//     width: 80px;
//     height: 80px;
//     }

//     .image-container {
//     margin: 0px;
//     padding: 0px;
//     border-style: solid;
//     border-color: rgb(255, 255, 255);
//     font: inherit;
//     vertical-align: baseline;
//     max-width: 90px;
//     max-height: 60px;
//     display: block;
//     width: 90px;
//     opacity: 1 !important;
//     }
//     .btn-xs {
//     border-radius: 3px;
//     font-size: 11px;
//     line-height: 1.5;
//     padding: 1px 7px;

//     font-size: 14px;
//     }

//     .btn-info {
//     background-color: #3498db;
//     border-color: #3498db;
//     color: #fff;
//     }
//     .read{
//     background-color: #f1f1f1;
//     padding: 0.01em 16px;
//     margin: -81px -110px;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
//     }
//     .inht {
//     margin-left: 20px;
//     margin-right: 20px;
//     }

//     .card-header {
//     border-bottom: 0px;
//     }
//     .card-body {
//     border-bottom: 1px solid rgba(0,0,0,.125);
//     }
//     .more {
//     margin-bottom: 100%;
//     }
